/*
1. 반복적인 스타일을 미리 선언하고 동일한 스타일의 콘텐츠를 사용.
2. 반복 코드를 줄임.
3. 효율적인 관리.
4. 페이지 저용량으로 로딩속도 개선

ex. 컨포너트 별로 그룹핑하여 코드화 하시오.(면접...)
*/


/* google font에서 폰트 가져오는 방법 */

/* 명조 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
/* font-family: 'Playfair Display', serif; */


/* 고딕 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
/* font-family: 'Ubuntu', sans-serif; */


html,body {
    margin: 0;
    background: #a6d8bf;
}

ul,li {
    margin: 0;    padding: 0;
    list-style: none;
}

table{
    border-collapse: collapse; /*table border 한줄 처리*/
}

h1,h2,h3,h4,h5,h6,p {    
    margin: 0;    padding: 0;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    color: #626262;
    
    font: 14px 'Playfair Display', serif;
    /*font-size: 14px;
    font-family: 'Playfair Display', serif;*/
}

h2 {
    font-size: 30px;
    color: #626262;
}

/*margin*/
.mt130{margin-top: 130px !important;}
.mt100{margin-top: 100px !important;}
.mt80{margin-top: 80px !important;}
.mt50{margin-top: 50px !important;}
.mt30{margin-top: 30px !important;}
/* !important : 태그에 스타일값이 있다면 그걸 무시하고 클래스 값을 우선시함 */


/*padding*/
.p80{padding: 80px !important;}


.f_center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* font */
.f_s1{
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
}


/* width */
.w-1060{
    width: 1060px; margin: 0 auto;
} 
/* css에서는 - 권장. 
w-1060_h-500 : - '단어가 연결될 때' _ '두 단어를 연결할 때'*/


/* conpont */

.cp_s1 {}

.cp_s1 h2 {
    margin: 30px 0;

}

.cp_s1 h2 small {
    display: block;
    margin-bottom: 26px;

    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    text-transform: uppercase;
}

.cp_s1 p {
    line-height: 2;
}

.cp_s1 a {
    display: inline-block;
    margin-top: 52px;

    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    text-transform: uppercase;
}

/* botton */
.btn{
    display: inline-block;
    text-transform: capitalize;
    border: 1px solid #626262;
    padding: 20px 40px;
}

/* align */
.a-center{text-align: center;}

/* header */
header {
    /*
    background: #f00;
*/
    padding: 70px 0;
    /* 나중에 백그라운드 넣었을 때 고려해서 margin보다*/
}

header div {
    width: 1060px;
    margin: 0 auto;
}

header div h1 {}

header div nav {}

header div nav a {
    display: inline-block;
    padding: 0 40px;
    text-transform: uppercase;
    text-decoration: none;
}


/* footer */
footer{
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    background-color: #f0f0f0;
}






